* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    /* display: flex;
    justify-content: center; */
    height: 100vh;
}

.circle {
    /* margin: auto; */

    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border-radius: 50%;
}

